.content_blog_work_detail{
   max-width: 682px;
   margin: 0 auto;
}
.header_blog {
   color: $primary_color;
}
.mb30px{
   margin-bottom: 70px;
}
.blog_content {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #E0E0E0;
   padding-bottom: 28px;
}

.blog_caption {
   font-size: 33px;
   font-weight: 700;
}

.blog_content_title {
   font-weight: 700;
   font-size: 30px;
   }

.marg_inl {
   margin-inline: 26px;
}

.blog_cont_time {
   margin-top: 16px;
   margin-bottom: 15px;
}